*{
	margin:0;
	padding:0;
}
html,body{
	width: 100%;
	height:100%;
}
body{
	overflow:hidden;
	/*background: rgba(23, 85, 169, 1);*/
}
nav{
	background: #eee !important;
	height:75px !important;
	-webkit-transition: height 0.5s;
	position: fixed !important;
	width: 100% !important;
	top:0 !important;
	z-index: +2000;
}
nav ul{
	float: right;
}
nav ul li{
	padding-right: 20px !important;
	padding-left: 20px !important;
	padding-bottom:10px !important;
	cursor: pointer;
	color:#222;
}
.header_logo{
	width:130px;
	position: relative;
	left:30px;
	margin:10px;
}
.welcome{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	color:#fff;
}
.panel{
	height: 100%;
}
.wrapper{
	padding-top:75px;
}
nav ul li a{
	color:#333;
	font-size:11pt;
	text-transform: uppercase;
}